
/* -----------------------------My CSS---------------------------- */


* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.container{
  max-width:1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

main{
  padding-top: 15px;
}



header{
  background: #333;
  width: 100%;
  padding: 15px 0;
}

.logo a{
  font-size: 25px;
  color:#fff;
}

.header-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list{
  display: flex;
  list-style: none;
  margin: 0;
}

.navigation-list li + li{
  margin-left: 20px;
  margin-bottom: 0;
}

.navigation-list li a{
  color:#fff;
}